
scrapy
shub

pymongo
dnspython
nltk
selenium
scrapy-selenium
webdriver-manager
shub
fuzzywuzzy
xmltodict
urllib3==1.23
paramiko
regex>=2021.8.3
joblib
tqdm
click
trio~=0.17
urllib3[secure]~=1.26
trio-websocket~=0.9
configparser
crayons
toml
scrapinghub>=2.3.1
docker
click
tqdm
bcrypt>=3.1.3
pynacl>=1.0.1
sortedcontainers
attrs>=19.2.0
sniffio
async-generator>=1.9
outcome
wsproto>=0.14
urllib3[secure]~=1.26
PyHamcrest>=1.9.0
incremental>=16.10.1
hyperlink>=17.1.1
typing
hyperlink>=17.1.1
constantly>=15.1
Automat>=0.3.0
characteristic
Twisted>=13.1.0
typing-extensions>=3.6.5
Twisted>=13.1.0
